appdirs==1.4.4
apturl==0.5.2
asgiref==3.6.0
attrs==22.2.0
botocore==1.29.141
click==8.0.3
colorama==0.4.4
decorator==5.1.1
decorators==2.0.7
future==0.18.2
graphene==2.1.8
httplib2==0.20.2
idna==3.3
louis==3.20.0
oauthlib==3.2.0
Pillow==7.0.0
plyer==2.1.0
promise==2.3
psutil==5.9.4
psycopg2==2.9.5
python-decouple==3.8
python-environ==0.4.54
requests==2.31.0
silx==1.1.2
six==1.16.0
ufw==0.36.1
urllib3==2.0.2

