{% load static %}


<footer class="ftco-footer ftco-section">
  
    <div class="container">
      <div class="row mb-5">
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Loisirs</h2>
            <p>Musique, Sport, Scans mangas, Lecture, Football, Basketball. Intéressée par la programmation
              des algorithmes heuristique appliquées au système de stockage.</p>
            <!-- <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
              <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-skype"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-telegrame"></span></a></li>
            </ul> -->
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4 ml-md-4">
            <h2 class="ftco-heading-2">Links</h2>
            <ul class="list-unstyled">
              <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Home</a></li>
              <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>About</a></li>
              <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Experiences</a></li>
              <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Certifications</a></li>
              <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
           <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Skill</h2>
            <ul class="list-unstyled">
              <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Systeme</a></li>
              <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Scrypt Shell</a></li>
              <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Python / Django</a></li>
              <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Reseaux & Securite</a></li>
              <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Soc Analyste</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Have a Questions?</h2>
              <div class="block-23 mb-3">
                <ul>
                  <li><span class="icon icon-map-marker"></span><span class="text">Calavi Missessinto BENIN</span></li>
                  <li><a href="#"><span class="icon icon-phone"></span><span class="text">+229 61 40 01 40</span></a></li>
                  <li><a href="#"><span class="icon icon-envelope"></span><span class="text">koukpeloustallone@gmail.com</span></a></li>
                  <li><a href="#"><span class="icon icon-envelope"></span><span class="text">jenniferstallone8@gmail.com</span></a></li>
                </ul>
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <hr><hr>
          <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy <script> document.write(new Date().getFullYear());</script> All rights reserved | Made by KJS 
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        </div>
      </div>
    </div>
  </footer>